<%- include('./head.ejs'); %>
<%- include('./header.ejs'); %>
<form method="POST" class="form-login">
    <h2 class="title-login">Bienvenido a Ayutec</h2>
    <label name="user-name">Nombre de usuario</label>
    <input type="text" name="user-name" class="user-name form-control" placeholder="Usuario"/>
    <label name="password">Contraseña</label>
    <input type="password" name="password" class="password form-control" placeholder="Contraseña"/>
    <input type="submit" class="login-button btn btn-light" value="Ingresar"/>
    <Link to="/register" class="link-register">¿No tienes cuenta? Registrate</Link>
</form>
