<!DOCTYPE html>
<html lang="en">

  <%- include('./head.ejs'); %>
  
<body>

  <%- include('./header.ejs'); %>

<div class="container-menu">
  <input type="checkbox" class="menu-input"/>
  <i class="fas fa-bars"><hr/><hr/><hr/></i>
  <i class="fas fa-times">X</i>
  <nav class="nav-menu">
      <ul class="container-menu-items">
          <li class="trabajos-pendientes">
              <a>Trabajos pendientes</a>
          </li>
          <li class="trabajos-realizados">
              <a>Trabajos realizados</a>
          </li>
      </ul>
      
  </nav>
</div>

<div class="container">
  <a href="/form" type="button" class="btn btn-agregar">Agregar trabajo</a>

 <!-- <table class="table table table-light table-striped" >
    <caption class="titulo-trabajos">Trabajos Pendientes</caption>
    <thead>
        <tr>
            <th class="d-none d-md-table-cell">Imagen</th>
            <th class="d-md-table-cell">Descripción</th>
            <th class="d-md-table-cell">Cliente</th>
            <th class="d-md-table-cell">Presupuesto</th>
            <th class="d-md-table-cell">Estado</th>
            <th class="d-md-table-cell"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/paid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/paid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/nopaid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/nopaid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
    </table> -->

    <table class="table off">
    <caption class="trabajos-realizados">Trabajos Realizados</caption>
    <thead>
        <tr>
            <th scope="col" class="d-none">#</td>
            <th scope="col">Imagen</td>
            <th scope="col">Descripción</td>
            <th scope="col">Cliente</td>
            <th scope="col">Presupuesto</td>
            <th scope="col">Estado</td>
            <th scope="col">Editar</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="d-none">
                1
                </td>
            <td>
                <img src="https://place-hold.it/120" alt="">
            </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <span class="badge rounded-pill bg-danger">Deuda</span>
            </td>
            <td>
                <a href="#" class="badge rounded-pill bg-primary">Eliminar</a>
                <a href="#" class="badge rounded-pill bg-primary">Editar</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://place-hold.it/120" alt="">
            </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <span class="badge rounded-pill bg-success">Pagado</span>
            </td>
            <td>
                <a href="#" class="badge rounded-pill bg-primary">Eliminar</a>
                <a href="#" class="badge rounded-pill bg-primary">Editar</a>
            </td>
        </tr>
    </tbody>
    </table>
  
</div>




</body>
</html>