<table class="table table table-light table-striped" id="tabla-pendiente" >
    <caption class="titulo-trabajos">Trabajos Pendientes</caption>
    <thead>
        <tr>
            <th class="d-none d-md-table-cell">Imagen</th>
            <th class="d-md-table-cell">Descripción</th>
            <th class="d-md-table-cell">Cliente</th>
            <th class="d-md-table-cell">Presupuesto</th>
            <th class="d-md-table-cell">Estado</th>
            <th class="d-md-table-cell"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/paid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/paid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/nopaid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        <tr>
            <th class="d-none d-md-table-cell">
                <img src="https://place-hold.it/120" alt="">
                </td>
            <td>
                <p>Monitor parpadea. Chequear batería</p>
            </td>
            <td>
                <p>Salkin Santiago</p>
            </td>
            <td>$2.120</td>
            <td>
                <img src="images/nopaid.svg" alt="svg" />
            </td>
            <td>
                <a href="/works"><i class="far fa-edit mb-4"></i></a>
                <br>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
    </table>